body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.mainButton{
    background-color: #79C4F2;
    color: ivory;
    border:0px; 
    padding:5px 10px;
    border-radius:10px;
    font-weight: bolder;
    box-shadow: 1px 1px #BF8641;
    }

.mainButton:hover{
    cursor:pointer;
    transform: scale(1.1);
}
